<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/hotels">
        <input type="text" name="hotel[title]" placeholder="Enter Hotel name">
        <br><br>
        <textarea name="hotel[description]" placeholder="Enter Hotel description"></textarea>
        <br><br>
        <input type="text" name="hotel[location]" placeholder="Enter location">
        <br><br>
        <input type="text" name="hotel[country]" placeholder="Enter country">
        <br><br>
        <input type="text" name="hotel[price]" placeholder="Enter Hotel price">
        <br><br>
        <input type="text" name="hotel[image]" placeholder="Add a picture URL">
        <br><br>
        <button>ADD</button>
    </form>
</body>
</html>